<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<b>Tickets:</b>
<ol>
  <% for ticket in @tickets -%>
  <li><%= link_to ticket.title, [@project, ticket] %></li>
  <% end -%>
</ol>

<p>
<% authorized?("create tickets", @project) do %>
  <%= link_to 'New Ticket', new_project_ticket_path(@project) %>
<% end %>
</p>

<p>
<% admins_only do %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Delete', @project, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'All Projects', projects_path %>
</p>
