<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Delete', @project, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', projects_path %>
</p>
